# Ignore compiled python files
__pycache__/
# Ignore extra test files and old stuff
/Cruft/
# Ignore log files:
/logs/
# Ignore specific files:
/TODO.txt
# Ignore wav files to avoid committing recordings
*.wav
# Include simulated audio
!simAudioFeed0.wav
!simAudioFeed1.wav
!simAudioFeed2.wav
*.avi
*.pvs
OpenCV_cam_list.tmp
